.footer {

    }

    .affiliation {
 
    }

    .affiliation > h3 {
        margin-bottom: 10px;
        }
    
    .affiliation > p {
        margin-bottom: 10px;
    }

    .bababooie {
        padding-bottom: 10px;
    }
