.headerContainer {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;

}

.logoContainer {
    min-height: 85px;
    max-height: 10vh;
    min-width: 100vw;
    max-width: 100vw;
}

.wlaLogo {
    margin-top: 5px;
    min-width: 300px;
    max-width: 30vw;
}

.headerItems {
    display: flex;
    min-width: 100vw;
    max-width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    


}



.headerButton {
    cursor: pointer;
    background-color: #65685300;
    color: #65685300;
    border: none;
    font-weight: bold;
    font-family: inherit;
    margin-top: 0rem;
    padding: 0.0rem;
    margin-bottom: 0rem;
    border-radius: 0rem;
    margin-right: 0rem;
    margin-left: -0rem;
    font-size: 0rem;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 1vw;
    min-height: 1vh;

  }
  
  .headerButton:hover {
background-color: #65685300;
}

.openLogo {
    max-width: 5vw;
}

.discordTwo {
    max-width: 6vw;

}