.collectionContainer {
    cursor: pointer;
    overflow: scroll;
    padding-bottom: -100px;
    height: 370px;
    width: auto;
    margin-left: 20px;
    border-left-color:white;
}

h1 {
    margin-left: 40px;
}

.collectionContainerHeader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 25vw;
    padding-right: 25vw;
}

.done { 
    width: 20vw;
    font-style: italic;
    font-weight: normal;
    padding-left: 11.5vw;
    padding-right: 25vw;
}
.collectionContainer > div {
    justify-items:auto;
    display: flex;
    align-items: left;
    border-radius: 30px;   
    width: 100%;
}

.openSea {
    min-width: 280px;
    max-width:10vw;
}
.collection {
    margin-top: 10px;
    width:auto;
    height:auto;
    overflow:scroll;
}

.firstNorth {
    display: flex;
    flex-direction: column;
}