
html,
body {
  margin: auto;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5d6855;
  color: #fff;
  overflow-x: hidden;
  text-align: center;
  width: 100%;
  display: flex;
}
#root {
  min-height: 100vh;
  display: flex;
}

.body {
  margin-left: 40px;
}
.claim {
  width: 80%;
  margin-left: 40px;
}

.landingTop {
  display: flex;
  flex-direction: row;
}

.mintCard {
  color: white;
  background-color: #1a1c1e;
  border-radius: 40px;
  height: auto;
  width: 460px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  margin-left: 20px; 
  margin-top: 
  
}

.mintCard > h1 {
  font-size: 30px;
}

h1 {
  font-size: 4 rem;
  padding-right: 3rem;
}

h2 {
  display: flex;
  flex-direction: row;
  padding: 0.6rem;
  margin-top:0.4rem;
  margin-bottom: 0.4rem;
  text-align: right;
  font-size: 15 rem;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.unsupported-network {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
}

.error {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f00;
}

.landing {
  flex-direction: column;
  width: auto;
  margin-top: 250px;
  margin-left: 550px;
  align-content: center;
  display: flex;
  text-align: right;
}

.welcome {
  text-align: left;
}

.memberContainer {
  flex-direction: column;
  padding-left: 100px;
  padding-top: 100px;
}

.connect-wallet,
.mint-nft,
.member-page {
  flex-direction: column;
  padding-left: 0rem;
  padding-right: 0rem;
  margin: 0rem;
  align-content: left;
  display: flex;
  text-align: right;
  padding-top: auto;
  padding-bottom: auto;
  overflow:scroll;
}



.topContent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.collectionCards {
flex-wrap: wrap;
}




.member-page > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  gap: 2rem;
}
.member-page > div > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .member-page > div {
    flex-direction: column;
  }
  .member-page > div > div {
    width: 100%;
  }
}

.member-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-page form > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-page form h5 {
  margin-top: 0;
  color: #656853;
}

.member-page form .card > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.member-page form small {
  text-align: center;
}

.card {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  color: #c1d8c7;
  box-shadow: 3.1px 6.2px 6.2px #656853;
  text-align: left;
}

.landingPage {
  width: 100vw;
  height: 100vh;
}


.topContainer {
  display: flex;
  flex-direction: row;
}


button {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: #656853;
  border: none;
  font-weight: bold;
  font-family: inherit;
  margin-top: 0rem;
  padding: 1.0rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  margin-right: 4rem;
  margin-left: -2rem;
  font-size: 1.4rem;
}

button:hover {
  background-color: #121212;
}

button:focus {
  background-color: #222;
}

button:disabled {
  opacity: 0.8;
  pointer-events: none;
}

